<%= render partial: 'spree/shared/error_messages', locals: { target: @spree_user } %>

<div class="container">
  <br><br><br>
  <div class="box-resume">
    <div class="row" style="margin: -40px 0 30px;">
      <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 col-xs-offset-2 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 b1">
        <h3 class="titu titulo c2" style="margin: 5px">
          Personal Informationfsaa
        </h3>
      </div>
    </div>
    <div class="row">
  <h6><%= Spree.t(:forgot_password) %></h6>

  <p><%= Spree.t(:instructions_to_reset_password) %></p>
asdfasdfas
  <%= form_for Spree::User.new, as: :spree_user, url: spree.reset_password_path do |f| %>
    <p>
      <%= f.label :email, Spree.t(:email) %><br />
      <%= f.email_field :email %>
    </p>
    <p>
      <%= f.submit Spree.t(:reset_password), class: 'button primary' %>
    </p>
  <% end %>
</div>
</div>
</div>
